<div class="card">
  <h5 class="card-header text-center fw-bold border-0 text-black">Java frameworks</h5>
  <div class="card-body">

    <div class="event-scroll mb-4 " style="height: 180px">
      <div class="list-group">

        <div class="list-group-item border-0">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-0">Spring Boot Performance</h6>
          </div>
          <p class="mb-2 text-black-50 fst-italic">Dmytro Martyshchuk</p>
        </div>

        <div class="list-group-item border-0">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-0">Spring Boot Performance</h6>
          </div>
          <p class="mb-2 text-black-50 fst-italic">Dmytro Martyshchuk</p>
        </div>

        <div class="list-group-item border-0">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-0">ORM Frameworks: Hibernate - how to use?</h6>
          </div>
          <p class="mb-2 text-black-50 fst-italic">Dmytro Martyshchuk</p>
        </div>
      </div>
    </div>

    <div class="border-top fst-italic">
      <div class="row text-center mt-2">
        <div class="col">
          <p> Start at 23.06.2022 14:00</p>
        </div>
        <div class="col text-center">
          <p class="text-black-50">2 h</p>
        </div>
      </div>
      <div class="row col-3 text-center">
        <p>Odessa</p>
      </div>
    </div>
  </div>
</div>